<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>Tap &apos;Confirm Payment&apos;.</string>
	</dict>
	<dict>
		<key>content</key>
		<string>Tap &apos;Pay using GO-PAY&apos;.</string>
	</dict>
	<dict>
		<key>content</key>
		<string>You will be redirected to GO-PAY app.</string>
	</dict>
	<dict>
		<key>content</key>
		<string>Check your payment details then tap &apos;Pay&apos;.</string>
	</dict>
	<dict>
		<key>content</key>
		<string>Your transaction is done.</string>
	</dict>
</array>
</plist>
